@theme {
  --sash-size: 8px;
  --sash-hover-size: 4px;
  --focus-border: var(--color-accent-background);
  --sash-hover-transition-duration: 0.1s;
  --separator-border: var(--color-default-boundary);

  --shadow-border-white: 0 0 0 1px var(--color-white);
  --shadow-border-white-inset: inset 0 0 0 1px var(--color-white);

  --shadow-range-thumb:
    0 0 0 2px rgb(255 255 255), 0 1px 4px 2px rgba(0 0 0 / 0.1), 0 4px 8px 2px rgba(0 0 0 / 0.1),
    0 0 1px 2px rgba(0 0 0 / 0.3);

  --shadow-checked-focused:
    inset 0 0 0 1px var(--color-default-background), inset 0 0 0 8px var(--color-accent-background);

  --shadow-switch-focused:
    inset 0 0 0 1px var(--color-default-background), inset 0 0 0 8px var(--color-default-foreground);

  --animate-spinner-spin-shape1: spinner-spin-shape1 2s linear 0s infinite normal;
  --animate-spinner-spin-shape2: spinner-spin-shape2 2s linear 0s infinite normal;
  --animate-spinner-spin-shape3: spinner-spin-shape3 2s linear 0s infinite normal;
  --animate-spinner-spin-shape4: spinner-spin-shape4 2s linear 0s infinite normal;
  --animate-spinner-bounce-left: spinner-bounce-left 0.5s infinite alternate ease;
  --animate-spinner-bounce-right: spinner-bounce-right 0.5s infinite alternate ease;
  --animate-indeterminate-bar: indeterminate-bar 1.5s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite normal none running;
}

/* Base styles */
@layer components {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .press-move-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000001;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='24' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='%23fff' d='M5.41 12 9 8.41V11h16V8.42L28.58 12 25 15.59V13H9v2.59L5.41 12ZM4 12l6 6v-4h14v4l6-6-6-6v4H10V6l-6 6Z'/%3E%3Cpath fill='%23202125' d='M12.5 13h12.52v2.59L28.58 12l-3.56-3.58v2.6H9v-2.6L5.41 12 9 15.59V13h3.5Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='29.6' height='15.6' x='2.2' y='5.2' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.9'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.65 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_504_477'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_504_477' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    width: 34px;
    height: 24px;
    pointer-events: none;
  }
}

/* Animations */
@layer components {
  @keyframes spinner-spin-shape1 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, var(--bounce));
    }
    50% {
      transform: translate(var(--bounce), var(--bounce));
    }
    75% {
      transform: translate(var(--bounce), 0);
    }
  }
  @keyframes spinner-spin-shape2 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(calc(var(--bounce) * -1), 0);
    }
    50% {
      transform: translate(calc(var(--bounce) * -1), var(--bounce));
    }
    75% {
      transform: translate(0, var(--bounce));
    }
  }
  @keyframes spinner-spin-shape3 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(var(--bounce), 0);
    }
    50% {
      transform: translate(var(--bounce), calc(var(--bounce) * -1));
    }
    75% {
      transform: translate(0, calc(var(--bounce) * -1));
    }
  }
  @keyframes spinner-spin-shape4 {
    0% {
      transform: translate(0, 0);
    }
    25% {
      transform: translate(0, calc(var(--bounce) * -1));
    }
    50% {
      transform: translate(calc(var(--bounce) * -1), calc(var(--bounce) * -1));
    }
    75% {
      transform: translate(calc(var(--bounce) * -1), 0);
    }
  }

  @keyframes spinner-bounce-left {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    25% {
      background-color: currentColor;
    }
    100% {
      transform: translate3d(calc(var(--shape) / -1), 0, 0) scale(0.64);
      background-color: transparent;
    }
  }
  @keyframes spinner-bounce-right {
    0% {
      transform: translate3d(0, 0, 0) scale(1);
    }
    25% {
      background-color: currentColor;
    }
    100% {
      transform: translate3d(var(--shape), 0, 0) scale(0.64);
      background-color: transparent;
    }
  }

  @keyframes indeterminate-bar {
    0% {
      transform: translateX(-50%) scaleX(0.2);
    }
    100% {
      transform: translateX(100%) scaleX(1);
    }
  }
}

/* Allotment styles */
@layer components {
  .allotment-module_splitView__L-yRc {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .allotment-module_splitView__L-yRc > .allotment-module_sashContainer__fzwJF {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .allotment-module_splitView__L-yRc
    > .allotment-module_sashContainer__fzwJF
    > .allotment-module_sash__QA-2t {
    pointer-events: auto;
  }

  .allotment-module_splitView__L-yRc > .allotment-module_splitViewContainer__rQnVa {
    position: relative;
    width: 100%;
    height: 100%;
    white-space: nowrap;
  }

  .allotment-module_splitView__L-yRc
    > .allotment-module_splitViewContainer__rQnVa
    > .allotment-module_splitViewView__MGZ6O {
    position: absolute;
    overflow: hidden;
    white-space: initial;
  }

  .allotment-module_splitView__L-yRc.allotment-module_vertical__WSwwa
    > .allotment-module_splitViewContainer__rQnVa
    > .allotment-module_splitViewView__MGZ6O {
    width: 100%;
  }

  .allotment-module_splitView__L-yRc.allotment-module_horizontal__7doS8
    > .allotment-module_splitViewContainer__rQnVa
    > .allotment-module_splitViewView__MGZ6O {
    height: 100%;
  }

  .allotment-module_splitView__L-yRc.allotment-module_separatorBorder__x-rDS
    > .allotment-module_splitViewContainer__rQnVa
    > .allotment-module_splitViewView__MGZ6O:not(:first-child)::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: var(--separator-border);
    pointer-events: none;
    content: " ";
  }

  .allotment-module_splitView__L-yRc.allotment-module_separatorBorder__x-rDS.allotment-module_vertical__WSwwa
    > .allotment-module_splitViewContainer__rQnVa
    > .allotment-module_splitViewView__MGZ6O:not(:first-child)::before {
    width: 100%;
    height: 1px;
  }

  .allotment-module_splitView__L-yRc.allotment-module_separatorBorder__x-rDS.allotment-module_horizontal__7doS8
    > .allotment-module_splitViewContainer__rQnVa
    > .allotment-module_splitViewView__MGZ6O:not(:first-child)::before {
    width: 1px;
    height: 100%;
  }

  .sash-module_sash__K-9lB {
    position: absolute;
    z-index: 35;
    touch-action: none;
    pointer-events: auto;
    text-align: initial;
  }

  .sash-module_sash__K-9lB.sash-module_disabled__Hm-wx {
    pointer-events: none;
  }

  .sash-module_sash__K-9lB.sash-module_mac__Jf6OJ.sash-module_vertical__pB-rs {
    cursor: col-resize;
  }

  .sash-module_sash__K-9lB.sash-module_vertical__pB-rs.sash-module_minimum__-UKxp {
    cursor: e-resize;
  }

  .sash-module_sash__K-9lB.sash-module_vertical__pB-rs.sash-module_maximum__TCWxD {
    cursor: w-resize;
  }

  .sash-module_sash__K-9lB.sash-module_mac__Jf6OJ.sash-module_horizontal__kFbiw {
    cursor: row-resize;
  }

  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw.sash-module_minimum__-UKxp {
    cursor: s-resize;
  }

  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw.sash-module_maximum__TCWxD {
    cursor: n-resize;
  }

  .sash-module_sash__K-9lB.sash-module_disabled__Hm-wx {
    cursor: default !important;
    pointer-events: none !important;
  }

  .sash-module_sash__K-9lB.sash-module_vertical__pB-rs {
    top: 0;
    cursor: ew-resize;
    width: var(--sash-size);
    height: 100%;
  }

  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw {
    left: 0;
    cursor: ns-resize;
    width: 100%;
    height: var(--sash-size);
  }

  .sash-module_sash__K-9lB:not(.sash-module_disabled__Hm-wx)
    > .sash-module_orthogonal-drag-handle__Yii2- {
    display: block;
    position: absolute;
    z-index: 100;
    cursor: all-scroll;
    width: calc(var(--sash-size) * 2);
    height: calc(var(--sash-size) * 2);
    content: " ";
  }

  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw.sash-module_orthogonal-edge-north__f7Noe:not(
      .sash-module_disabled__Hm-wx
    )
    > .sash-module_orthogonal-drag-handle__Yii2-.sash-module_start__uZEDk,
  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw.sash-module_orthogonal-edge-south__6ZrFC:not(
      .sash-module_disabled__Hm-wx
    )
    > .sash-module_orthogonal-drag-handle__Yii2-.sash-module_end__0TP-R {
    cursor: nwse-resize;
  }

  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw.sash-module_orthogonal-edge-north__f7Noe:not(
      .sash-module_disabled__Hm-wx
    )
    > .sash-module_orthogonal-drag-handle__Yii2-.sash-module_end__0TP-R,
  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw.sash-module_orthogonal-edge-south__6ZrFC:not(
      .sash-module_disabled__Hm-wx
    )
    > .sash-module_orthogonal-drag-handle__Yii2-.sash-module_start__uZEDk {
    cursor: nesw-resize;
  }

  .sash-module_sash__K-9lB.sash-module_vertical__pB-rs
    > .sash-module_orthogonal-drag-handle__Yii2-.sash-module_start__uZEDk {
    top: calc(var(--sash-size) * -1);
    left: calc(var(--sash-size) * -0.5);
  }

  .sash-module_sash__K-9lB.sash-module_vertical__pB-rs
    > .sash-module_orthogonal-drag-handle__Yii2-.sash-module_end__0TP-R {
    bottom: calc(var(--sash-size) * -1);
    left: calc(var(--sash-size) * -0.5);
  }

  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw
    > .sash-module_orthogonal-drag-handle__Yii2-.sash-module_start__uZEDk {
    top: calc(var(--sash-size) * -0.5);
    left: calc(var(--sash-size) * -1);
  }

  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw
    > .sash-module_orthogonal-drag-handle__Yii2-.sash-module_end__0TP-R {
    top: calc(var(--sash-size) * -0.5);
    right: calc(var(--sash-size) * -1);
  }

  .sash-module_sash__K-9lB:before {
    position: absolute;
    transition: background-color var(--sash-hover-transition-duration) ease-out;
    background: transparent;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
  }

  .sash-module_sash__K-9lB.sash-module_vertical__pB-rs:before {
    left: calc(50% - (var(--sash-hover-size) / 2));
    width: var(--sash-hover-size);
  }

  .sash-module_sash__K-9lB.sash-module_horizontal__kFbiw:before {
    top: calc(50% - (var(--sash-hover-size) / 2));
    height: var(--sash-hover-size);
  }

  .sash-module_sash__K-9lB.sash-module_hover__80W6I:before,
  .sash-module_sash__K-9lB.sash-module_active__bJspD:before {
    background: var(--focus-border);
  }
}

/* Panel row styles */
@layer components {
  .properties-panel {
    @apply relative flex min-w-0 flex-col;
    &:not(:last-child) {
      @apply border-b;
    }
  }

  .rows {
    @apply grid min-w-0 items-center pr-2 pl-4;
  }
  .rows--label {
    @apply text-secondary-foreground mt-1 select-none;
    padding-right: 0.125rem;
    padding-left: 0.125rem;
    font-weight: 500;
    font-size: 0.5625rem;
    line-height: 0.875rem;
    letter-spacing: 0.016875rem;
  }
  .rows--single {
    @apply gap-x-2 pr-4;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "label" "input";
  }
  .rows--two-columns {
    @apply gap-x-2 pr-4;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label-1 label-2" "input-1 input-2";
  }
  .rows--one-label-one-input {
    @apply gap-x-2 pr-4;
    grid-template-rows: 2rem;
    grid-template-columns: 8fr 20fr;
    grid-template-areas: "label input";
  }
  .rows--one-label-one-input-one-icon {
    @apply gap-x-1 pr-2;
    grid-template-rows: 2rem;
    grid-template-columns: 8fr 20fr 1.5rem;
    grid-template-areas: "label input icon";
  }
  .rows--one-label-two-input {
    @apply gap-x-2 pr-4;
    grid-template-rows: 2rem;
    grid-template-columns: 8fr 10fr 10fr;
    grid-template-areas: "label input-1 input-2";
  }
  .rows--one-icon-one-input {
    @apply gap-x-2 pr-4;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1.5rem 1fr;
    grid-template-areas: ". label" "icon input";
  }
  .rows--one-input-one-icon {
    @apply gap-x-2;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr 1.5rem;
    grid-template-areas: "label label" "input icon";
  }
  .rows--one-input-two-icon {
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr 0.5rem 1.5rem 0.25rem 1.5rem;
    grid-template-areas: "label . . . ." "input . icon-1 . icon-2";
  }
  .rows--two-input-two-icon {
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: minmax(76px, 1fr) 0.5rem 1fr 0.5rem 1.5rem 0.25rem 1.5rem;
    grid-template-areas: "label-1 label-1 label-2 label-2 . . ." "input-1 . input-2 . icon-1 . icon-2";
  }
  .rows--two-input-one-icon {
    @apply gap-x-2;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr 1fr 1.5rem;
    grid-template-areas: "label-1 label-2 label-2" "input-1 input-2 icon";
  }
  .rows--one-icon-one-input-two-icon {
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1.5rem 0.5rem 1fr 0.5rem 1.5rem 0.25rem 1.5rem;
    grid-template-areas: "label label label label label label label" "icon-1 . input . icon-2 . icon-3";
  }
  .rows--two-input-one-icon-double-row {
    @apply gap-x-2;
    grid-template-rows: auto 2rem 2rem;
    grid-template-columns: 1fr 1fr 1.5rem;
    grid-template-areas: "label-1 label-2 ." "input-1 input-3 icon-1" "input-2 input-3 icon-2";
  }
}

/* Condition styles */
@layer components {
  .condition__group {
    grid-template-rows: repeat(auto-fill, minmax(0, 1fr));
    grid-template-columns: 1fr 1.5rem;
  }

  .condition__logical-operator {
    top: 2.25rem;
    bottom: 2.75rem;
    &:before {
      position: absolute;
      top: 1.25rem;
      bottom: 1.25rem;
      left: 1.5rem;
      border-top: 1px solid var(--color-default-boundary);
      border-bottom: 1px solid var(--color-default-boundary);
      border-left: 1px solid var(--color-default-boundary);
      border-radius: var(--radius-lg) 0 0 var(--radius-lg);
      width: 1.5rem;
      content: "";
    }
    &[data-level="0"] {
      top: 0.25rem;
      bottom: 2.25rem;
    }
  }
}

/* Tree list styles */
@layer components {
  .tree-list {
    &[data-has-horizontal-scroll="true"] {
      & .tree-list_node::after {
        right: 0;
      }
    }
  }

  .tree-list__scroll-container {
    overscroll-behavior: auto;
    touch-action: pan-y;
  }

  .tree-list__content {
    position: relative;
    flex-shrink: 0;
    width: var(--tree-node-width);
    height: var(--tree-list-height);
  }
}

/* Skeleton styles */
@layer components {
  .skeleton {
    transition: all 0.2s ease-in-out !important;
    outline: none !important;
    box-shadow: none !important;
    border-color: transparent !important;
    border-radius: var(--radius-md);
    background-color: var(--color-secondary-background) !important;
    resize: none !important;
    pointer-events: none !important;
    color: transparent !important;
    &::placeholder,
    &:placeholder-shown {
      color: transparent !important;
    }
    & * {
      visibility: hidden !important;
    }
  }
}

/* Comments styles */
@layer components {
  .comments__input {
    grid-template-columns: calc(var(--spacing) * 6) 1fr;
  }

  .comment__item {
    display: grid;
    grid-template-rows: auto minmax(calc(var(--spacing) * 6), auto);
    grid-template-columns: calc(var(--spacing) * 6) 1fr calc(var(--spacing) * 6);
    grid-template-areas: "avatar meta action" ". content reaction" ". reactions .";
    column-gap: calc(var(--spacing) * 2);
  }
}

/* Fields styles */
@layer components {
  .fields__text-field {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "prefix input suffix";
    &::before {
      @apply pointer-events-none z-2 h-full border transform-3d;
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      border-radius: inherit;
      content: "";
    }
  }

  .input__number {
    grid-template-rows: 1.5rem;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: "prefix-handler variable input action suffix-handler";
    &::before {
      @apply pointer-events-none z-3 h-6 rounded-md border;
      grid-row: 1 / 2;
      grid-column: 1 / 6;
      content: "";
    }
  }

  .input-search {
    @apply relative grid;
    grid-template-columns: 1.5rem 1fr auto;
    grid-template-areas: "icon input action";
    &::before {
      @apply pointer-events-none z-2 h-full rounded-md border border-transparent;
      grid-row: 1 / 2;
      grid-column: 1 / 4;
    }
  }
}

/* Modal styles */
@layer components {
  .modal__header {
    @apply grid;
    grid-template-rows: minmax(2.5rem, auto);
    grid-template-areas: "title . close" "input input input";
  }

  .modal__header--action {
    grid-template-columns: auto 1fr 2.5rem;
  }
}
