@layer components {
  .scrollbar-hide {
    /* IE and Edge */
    -ms-overflow-style: none;
    /* Firefox */
    scrollbar-width: none;
    /* Safari and Chrome */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .press-move-cursor {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000001;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='24' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill='%23fff' d='M5.41 12 9 8.41V11h16V8.42L28.58 12 25 15.59V13H9v2.59L5.41 12ZM4 12l6 6v-4h14v4l6-6-6-6v4H10V6l-6 6Z'/%3E%3Cpath fill='%23202125' d='M12.5 13h12.52v2.59L28.58 12l-3.56-3.58v2.6H9v-2.6L5.41 12 9 15.59V13h3.5Z'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='29.6' height='15.6' x='2.2' y='5.2' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' result='hardAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='1'/%3E%3CfeGaussianBlur stdDeviation='.9'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.65 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_504_477'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_504_477' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    width: 34px;
    height: 24px;
    pointer-events: none;
  }

  .properties-panel {
    @apply relative flex min-w-0 flex-col;
    &:not(:last-child) {
      @apply border-b;
    }
  }

  .rows {
    @apply grid min-w-0 items-center pr-2 pl-4;
  }
  .rows--label {
    @apply text-secondary-foreground mt-1 select-none;
    padding-right: 0.125rem;
    padding-left: 0.125rem;
    font-weight: 500;
    font-size: 0.5625rem;
    line-height: 0.875rem;
    letter-spacing: 0.016875rem;
  }
  .rows--single {
    @apply gap-x-2 pr-4;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr;
    grid-template-areas: "label" "input";
  }
  .rows--two-columns {
    @apply gap-x-2 pr-4;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "label-1 label-2" "input-1 input-2";
  }
  .rows--one-label-one-input {
    @apply gap-x-2 pr-4;
    grid-template-rows: 2rem;
    grid-template-columns: 8fr 20fr;
    grid-template-areas: "label input";
  }
  .rows--one-label-one-input-one-icon {
    @apply gap-x-1 pr-2;
    grid-template-rows: 2rem;
    grid-template-columns: 8fr 20fr 1.5rem;
    grid-template-areas: "label input icon";
  }
  .rows--one-label-two-input {
    @apply gap-x-2 pr-4;
    grid-template-rows: 2rem;
    grid-template-columns: 8fr 10fr 10fr;
    grid-template-areas: "label input-1 input-2";
  }
  .rows--one-icon-one-input {
    @apply gap-x-2 pr-4;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1.5rem 1fr;
    grid-template-areas: ". label" "icon input";
  }
  .rows--one-input-one-icon {
    @apply gap-x-2;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr 1.5rem;
    grid-template-areas: "label label" "input icon";
  }
  .rows--one-input-two-icon {
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr 0.5rem 1.5rem 0.25rem 1.5rem;
    grid-template-areas: "label . . . ." "input . icon-1 . icon-2";
  }
  .rows--two-input-two-icon {
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: minmax(76px, 1fr) 0.5rem 1fr 0.5rem 1.5rem 0.25rem 1.5rem;
    grid-template-areas: "label-1 label-1 label-2 label-2 . . ." "input-1 . input-2 . icon-1 . icon-2";
  }
  .rows--two-input-one-icon {
    @apply gap-x-2;
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1fr 1fr 1.5rem;
    grid-template-areas: "label-1 label-2 label-2" "input-1 input-2 icon";
  }
  .rows--one-icon-one-input-two-icon {
    grid-template-rows: auto minmax(2rem, auto);
    grid-template-columns: 1.5rem 0.5rem 1fr 0.5rem 1.5rem 0.25rem 1.5rem;
    grid-template-areas: "label label label label label label label" "icon-1 . input . icon-2 . icon-3";
  }
  .rows--two-input-one-icon-double-row {
    @apply gap-x-2;
    grid-template-rows: auto 2rem 2rem;
    grid-template-columns: 1fr 1fr 1.5rem;
    grid-template-areas: "label-1 label-2 ." "input-1 input-3 icon-1" "input-2 input-3 icon-2";
  }

  .fields__text-field {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "prefix input suffix";
    &::before {
      @apply pointer-events-none z-2 h-full border transform-3d;
      grid-row: 1 / 2;
      grid-column: 1 / 4;
      border-radius: inherit;
      content: "";
    }
  }

  .input__number {
    grid-template-rows: 1.5rem;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: "prefix-handler variable input action suffix-handler";
    &::before {
      @apply pointer-events-none z-3 h-6 rounded-md border;
      grid-row: 1 / 2;
      grid-column: 1 / 6;
      content: "";
    }
  }

  .input-search {
    @apply relative grid;
    grid-template-columns: 1.5rem 1fr auto;
    grid-template-areas: "icon input action";
    &::before {
      @apply pointer-events-none z-2 h-full rounded-md border border-transparent;
      grid-row: 1 / 2;
      grid-column: 1 / 4;
    }
  }

  .tree-list {
    &[data-has-horizontal-scroll="true"] {
      & .tree-list_node::after {
        right: 0;
      }
    }
  }

  .tree-list__scroll-container {
    overscroll-behavior: auto;
    touch-action: pan-y;
  }

  .tree-list__content {
    position: relative;
    flex-shrink: 0;
    width: var(--tree-node-width);
    height: var(--tree-list-height);
  }

  .comments__input {
    grid-template-columns: calc(var(--spacing) * 6) 1fr;
  }

  .comment__item {
    display: grid;
    grid-template-rows: auto minmax(calc(var(--spacing) * 6), auto);
    grid-template-columns: calc(var(--spacing) * 6) 1fr calc(var(--spacing) * 6);
    grid-template-areas: "avatar meta action" ". content reaction" ". reactions .";
    column-gap: calc(var(--spacing) * 2);
  }

  .modal__header {
    @apply grid;
    grid-template-rows: minmax(2.5rem, auto);
    grid-template-columns: auto 1fr 2.5rem;
    grid-template-areas: "title . close" "input input input";
  }
}

@theme {
  --focus-border: var(--color-accent-background);
  --separator-border: var(--color-default-boundary);

  --shadow-range-thumb:
    0 0 0 2px rgb(255 255 255), 0 1px 4px 2px rgba(0 0 0 / 0.1), 0 4px 8px 2px rgba(0 0 0 / 0.1),
    0 0 1px 2px rgba(0 0 0 / 0.3);

  --shadow-checked-focused:
    inset 0 0 0 1px var(--color-default-background), inset 0 0 0 8px var(--color-accent-background);

  --shadow-switch-focused:
    inset 0 0 0 1px var(--color-default-background), inset 0 0 0 8px var(--color-default-foreground);
}
