@reference "../../tailwind.css";

.input-number {
  grid-template-rows: 1.5rem;
  grid-template-columns: auto auto 1fr auto auto;
  grid-template-areas: "prefix-handler variable input action suffix-handler";
  &::before {
    @apply pointer-events-none z-3 h-6 rounded-md border;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    content: "";
  }
}
