.grid {
  display: grid;
  grid-template-rows: repeat(2, calc(var(--cdt-spacing) * 8));
  grid-template-columns: auto 1fr;
  margin-top: calc(var(--cdt-spacing) * 4);
  color: var(--color-text);
}

.swatch {
  display: flex;
  grid-row: 1 / 3;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(var(--cdt-color-border-default));
  background-color: var(--color);
  width: calc(var(--cdt-spacing) * 16);
  height: calc(var(--cdt-spacing) * 16);
  color: rgb(var(--cdt-color-text-default));
}
