@import "tailwindcss";

@import "../../design-tokens/dist/tokens.css";
@import "../../design-tokens/dist/preflight.css";
@import "../../design-tokens/dist/tailwind.css";

@import "../../core/app/styles/components.css";
@import "../../core/app/styles/markdown.css";

@source "../../core/app";

body {
  background-color: var(--color-default-background);
  color: var(--color-default-foreground);
}
