@import "tailwindcss";

@import "@choiceform/design-tokens/tokens.css";
@import "@choiceform/design-tokens/preflight.css";
@import "@choiceform/design-tokens/tailwind.css";

@import "@choice-ui/react/styles/components.css";
@import "@choice-ui/react/styles/markdown.css";

@source "../node_modules/@choice-ui/react";

body {
  background-color: var(--color-default-background);
  color: var(--color-default-foreground);
}
