@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "@choiceform/design-tokens/tokens.css";
@import "@choiceform/design-tokens/preflight.css";
@import "@choiceform/design-tokens/tailwind.css";

@layer base {
  body {
    background-color: var(--color-default-background);
    color: var(--color-default-foreground);
  }
}

@import "./styles/components.css";
@import "./styles/stories.css";
@import "./styles/github-markdown.css";
