.heroSection {
  background-color: rgb(var(--cdt-color-background-default));
  padding: calc(var(--cdt-spacing) * 32) 0 calc(var(--cdt-spacing) * 8);
}

.heroContent {
  margin: 0 auto;
  max-width: 56rem;
}

.heroTitle {
  margin-bottom: calc(var(--cdt-spacing) * 4);
  color: rgb(var(--cdt-color-text-default));
  font-weight: 600;
  text-align: center;
}

@media screen and (min-width: 48rem) {
  .heroTitle {
    text-align: left;
  }
}

.heroSubtitle {
  margin-bottom: calc(var(--cdt-spacing) * 8);
  color: rgb(var(--cdt-color-text-secondary));
  text-align: center;
}

@media screen and (min-width: 48rem) {
  .heroSubtitle {
    text-align: left;
  }
}

.heroActions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(var(--cdt-spacing) * 3);
  margin-bottom: calc(var(--cdt-spacing) * 12);
}

@media screen and (min-width: 48rem) {
  .heroActions {
    justify-content: flex-start;
  }
}

.button {
  display: inline-flex;
  align-items: center;
  gap: calc(var(--cdt-spacing) * 2);
  cursor: pointer;
  border: 1px solid rgb(var(--cdt-color-border-default));
  border-radius: var(--cdt-spacing);
  background-color: rgb(var(--cdt-color-background-default));
  padding: calc(var(--cdt-spacing) * 2) calc(var(--cdt-spacing) * 4);
  color: rgb(var(--cdt-color-text-default));
  text-decoration: none;
}

.primaryButton {
  border-color: rgb(var(--cdt-color-background-inverse));
  background-color: rgb(var(--cdt-color-background-inverse));
  color: rgb(var(--cdt-color-text-inverse));
}

.badgeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: calc(var(--cdt-spacing) * 4);
  margin-bottom: calc(var(--cdt-spacing) * 8);
}

@media screen and (min-width: 48rem) {
  .badgeList {
    justify-content: flex-start;
  }
}

.badge {
  background-color: rgb(var(--cdt-color-background-secondary));
  padding: var(--cdt-spacing) calc(var(--cdt-spacing) * 3);
  color: rgb(var(--cdt-color-text-secondary));
  white-space: nowrap;
}
