@import "tailwindcss";
@plugin "@tailwindcss/typography";

@import "@choice-ui/design-tokens/tokens.css";
@import "@choice-ui/design-tokens/preflight.css";
@import "@choice-ui/design-tokens/tailwind.css";

@import "@choice-ui/react/styles/components.css";
@import "@choice-ui/react/styles/markdown.css";

@source "../node_modules/@choice-ui/react";

@layer base {
  body {
    background-color: var(--color-default-background);
    color: var(--color-default-foreground);
  }
}

@layer components {
  .story-container {
    @apply prose prose-sm dark:prose-invert prose-pre:bg-transparent prose-pre:p-0 prose-pre:m-0 mx-auto max-w-2xl p-4;
  }
}
