.blockWrapper {
  padding: calc(var(--cdt-spacing) * 4);
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--cdt-color-background-secondary));
  aspect-ratio: 1 / 1;
}

.blockInner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--cdt-spacing) * 2);
  border: 1px dotted rgb(var(--cdt-color-border-selected));
  width: 100%;
  height: 100%;
  color: rgb(var(--cdt-color-text-secondary));
  text-align: center;
}

.blockPadding1 {
  padding: calc(var(--cdt-spacing) * 4) calc(var(--cdt-spacing) * 8);
}

.blockPadding2 {
  padding: calc(var(--cdt-spacing) * 4) calc(var(--cdt-spacing) * 8) calc(var(--cdt-spacing) * 16);
}
