:root {
  --code-background: rgb(250, 250, 250);
  --code-text: rgb(56, 58, 66);
  --code-text-key: rgb(64, 120, 242);
  --code-text-value: rgb(183, 107, 1);
}

body {
}

.sb-unstyled .docblock-source {
  box-shadow: none;
  border: 1px solid var(--color-default-boundary);
  border-radius: var(--radius-xl);
  background-color: transparent;
}

.sb-unstyled .docblock-source .css-11xgcgt {
  right: 0.25rem !important;
  bottom: 0.25rem !important;
  background: transparent !important;
}
.sb-unstyled .docblock-source .css-1fdphfk {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  border-radius: var(--radius-lg) !important;
  background: transparent !important;
  color: var(--color-default-foreground) !important;
  font-size: 0.6875rem !important;
  line-height: 1rem !important;
}

.sb-unstyled .docblock-source .css-1fdphfk:hover {
  background: var(--color-secondary-background) !important;
}

/* 移除 Storybook 特有的字体 */
*:where([class*="css-"]) {
  font-family: revert !important;
}

.sbdocs.sbdocs-wrapper {
  background-color: transparent;
}

.docblock-source pre.prismjs {
  padding: 1rem !important;
  color: #000000cc !important;
  font-size: 0.6875rem !important;
  line-height: 1rem !important;
  &:where(.dark *) {
    color: #ffffffcc !important;
  }
}

.docblock-source .prismjs .token.constant,
.docblock-source .prismjs .token.keyword,
.docblock-source .prismjs .token.operator,
.docblock-source .prismjs .token.selector,
.docblock-source .prismjs .token.tag,
.docblock-source .prismjs .token.class-name {
  color: #cb0b96 !important;
  &:where(.dark *) {
    color: #fc9ce0 !important;
  }
}

.docblock-source .prismjs .token.comment {
  color: #00000080 !important;
  &:where(.dark *) {
    color: #ffffff80 !important;
  }
}

.docblock-source .prismjs .token.attr-value,
.docblock-source .prismjs .token.string,
.docblock-source .prismjs .token.property,
.token.tag.script.language-javascript.boolean {
  color: #c53e0d !important;
  &:where(.dark *) {
    color: #fcb34a !important;
  }
}

.docblock-source .prismjs .token.punctuation {
  color: #000000cc !important;
  &:where(.dark *) {
    color: #ffffffcc !important;
  }
}

.token.variable,
.token.attr-name,
.token.tag.script.language-javascript.punctuation {
  color: #093077 !important;
  &:where(.dark *) {
    color: #7cc4f8 !important;
  }
}

.docblock-source .prismjs .token.rule {
  color: #0768cf !important;
  &:where(.dark *) {
    color: #7cc4f8 !important;
  }
}

.language-tsx .token.arrow.operator,
.language-tsx .token.maybe-class-name,
.language-tsx .token.function.maybe-class-name {
  color: #0768cf !important;
  &:where(.dark *) {
    color: #d1a8ff !important;
  }
}

.language-tsx .token.method.function.property-access,
.language-tsx .token.tag.attr-name,
.language-tsx .token.function {
  color: #0768cf !important;
  &:where(.dark *) {
    color: #7cc4f8 !important;
  }
}

.language-tsx .token.property-access {
  color: #093077 !important;
  &:where(.dark *) {
    color: #7cc4f8 !important;
  }
}

.language-bash .token.function {
  color: #cb0b96 !important;
  &:where(.dark *) {
    color: #fc9ce0 !important;
  }
}
