.percentageSpacingGrid {
  display: flex;
  grid-column: 1 / -1;
  flex-wrap: wrap;
  padding: calc(var(--cdt-spacing) * 4) calc(var(--cdt-spacing) * 2) var(--cdt-spacing) calc(var(--cdt-spacing) * 2);
}

.spacingValueBar {
  display: flex;
  flex: 1;
  align-items: center;
  gap: calc(var(--cdt-spacing) * 2);
}

.spacingBarWrapper {
  position: relative;
  gap: calc(var(--cdt-spacing) * 2);
  padding: calc(var(--cdt-spacing) * 4) calc(var(--cdt-spacing) * 2) 0 calc(var(--cdt-spacing) * 2);
  width: var(--width);
}

.spacingBarWrapper:nth-child(odd) .spacingValueBar {
  justify-content: flex-start;
}

.spacingBarWrapper:nth-child(even) .spacingValueBar {
  justify-content: flex-end;
}

.spacingBar {
  display: flex;
  position: absolute;
  top: 0;
  right: calc(var(--cdt-spacing) * 2);
  left: calc(var(--cdt-spacing) * 2);
  justify-content: center;
  align-items: center;
  background-color: rgb(var(--cdt-color-background-accent));
  height: calc(var(--cdt-spacing) * 4);
  color: rgb(var(--cdt-color-text-on-accent));
  font-weight: var(--cdt-font-weight-medium);
}

.spacingValue {
  padding: calc(var(--cdt-spacing) * 2) 0;
  color: rgb(var(--cdt-color-text-default));
}
